<ion-header>
  <ion-toolbar>
    <ion-title>camera</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="d-flex justify-content-center">
  <ion-button (click)="foto()">
    <!-- <ion-icon slot="start" name="camera"></ion-icon> -->
    Click me

    
  </ion-button>

  <ion-img [src]="fot"></ion-img>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
